.image{
    width: 120px;
    object-fit: cover;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
}
.card{
    background-color: #EEEEEE;
    text-align: center;
}
.card-body h3{
    font-size: 18px;
}
.custom-btn{
    background: #22A8A6;
    border: none;
    padding: 3px 15px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}
.custom-btn:hover{
    background: #589796;
    border: none;
    padding: 3px 15px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}
.social-icon i {
    padding: 10px 10px;
    font-size: 30px;
}
.fac-color{
    color: #3B5998;
}
.tw-color{
    color: #1DA1F2;
}